PORT=3001

DATABASE_URL=''
JWT_EXPIRES_IN='7d'
JWT_SECRET=''
ENCRYPTION_KEY=''


ENCRYPTION_KEY=your-32-character-key-here

FRONTEND_URL=http://localhost:3000

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=http://localhost:3001/oauth/github/callback

GITLAB_CLIENT_ID=
GITLAB_CLIENT_SECRET=
GITLAB_CALLBACK_URL=http://localhost:3001/oauth/gitlab/callback

BITBUCKET_CLIENT_ID=
BITBUCKET_CLIENT_SECRET=
BITBUCKET_CALLBACK_URL=http://localhost:3001/oauth/bitbucket/callback
